<header id="homeHeader">
    <nav class="container-fluid help">
        <ul>
            <li><a href="/" class="navFont">Home</a></li>
            <li><a href="/heroes" class="navFont">Heroes</a></li>
            <li><a href="/about" class="navFont">About</a></li>
            <li><a href="/requests" class="navFont">Requests</a></li>
            <li><a href="/profile" class="navFont">Profile</a></li>
            <li><a href="/about" class="navFont">About</a></li>
        </ul>
    </nav>
</header>
<div id="aboutContainer">
    <header>
        <h1 class="d-flex justify-content-center">About Hero Helper</h1>
        <h5 class="d-flex justify-content-center">Need a hero? We're here to help!</h5><br />
    </header>
    <div class="aboutInfo">
        <p class="d-flex justify-content-center lh-base fs-3">
            Hero Helper is an application designed to help average people find a
            hero for any of their problems. Simply submit a request to let us find the best hero for the job. Looking to
            register as a new hero? No problem! Head on over to our "Heroes" page to register as a hero. Check your
            profile for your information, including your previous requests.
        </p>
    </div>
    <div class="aboutInfo">
        <p class="d-flex justify-content-center fs-3 mt-5">
            Request today, Save tomorrow
        </p>
    </div>
</div>
