<header id="homeHeader">
    <nav class="container-fluid help">
        <ul>
            <li><a href="/" class="navFont">Home</a></li>
            <li><a href="/heroes" class="navFont">Heroes</a></li>
            <li><a href="/about" class="navFont">About</a></li>
            <li><a href="/requests" class="navFont">Requests</a></li>
            <li><a href="/profile" class="navFont">Profile</a></li>
        </ul>
        {{#if logged_in}}
        <a href="/logout"><button id="logout" type="button" class="btn btn-primary">Logout</button></a>
        {{else}}
        <a href="/login"><button type="button" class="btn btn-primary">Login</button></a>
        {{/if}}
    </nav>
</header>
    <div class="request container">
        <main>
            <div class="content">
             <h1 id="anime">Request Today Save Tomorrow</h1>
          
            </div>
        </main>
    </div>

<script src="/js/scripts.js"></script>
