

<form id="login">
    <h2>login</h2>
    <div class="mb-3">
        <label for="inputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="inputPasword" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPasword">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>


<script src="/js/login.js"></script>