<div id="login-container" class="d-flex justify-content-center align-items-center">
    <div id="login-flex" class="">
        <form id="login">
            <h2>login</h2>
            <div class="mb-3">
                <label for="inputEmail" class="form-label">Email address</label>
                <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="inputPasword" class="form-label">Password</label>
                <input type="password" class="form-control" id="inputPasword">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <a href="/sign-up"><p>Don't have an account? sign up here</p></a>
        </form>
    </div>
</div>



<script src="/js/login.js"></script>