<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Getting started with the Mapbox Directions API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.1-dev/mapbox-gl-geocoder.min.js"></script>
    <link
    rel="stylesheet"
    href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.1-dev/mapbox-gl-geocoder.css"
    type="text/css"/>
    <link
      href="https://api.tiles.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.css"
      rel="stylesheet"
    />
    <style>
      body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      #map {
        width: 80%;
        height: 60%;
      }

      #instructions {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 10%;
        width: 15%;
        margin: 20px;
        padding: 20px;
        background-color: #f8f3f3;
        overflow-y: scroll;
      
      }
    </style>
  </head>
  <body>
   
    <div id="map"></div>
     <div id="instructions"></div>
    <script src="/js/map.js">
      // this is where the code for the next step will go
    </script>
  </body>
</html>
