<div id="main-background" class="container ">
    <div class="row">
        <div class="col-4">
            <div id="profile-image-container">
                <img src="https://i.natgeofe.com/n/4f5aaece-3300-41a4-b2a8-ed2708a0a27c/domestic-dog_thumb_square.jpg" alt="">
            </div>
        </div>
        <div class="col">
            <p>name goes here</p>
            <p>About me</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium similique exercitationem quas veniam, consequatur vitae obcaecati culpa error dolores sunt, provident vel quae, alias ipsa odit labore sapiente libero deserunt?</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <button type="button" class="btn btn-primary">Request Now</button>
        </div>
        <div class="col">
            <h4>how many heros added: 2</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Past request</h2>
            <div class="request">
                <div>
                    {{!-- title --}}
                    <p>Request: Save my cat from a tree</p>
                    {{!-- description --}}
                    <h5>description</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima sit, corporis possimus voluptate rem quia odit recusandae. Quibusdam cupiditate ea doloribus sapiente? Sed ut, quas obcaecati atque eius natus ipsum!</p>
                    <p>Difficulty level: C</p>
                    <p>Location: in my backyard</p>
                    <p>Fullied by: super man</p>
                </div> 
            </div>
            
        </div>
    </div>
</div>